{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div style="max-width: 400px; margin: auto;">
      <h1>Login</h1>
      <form action='{% url "blogAuth:login" %}' method="post">
        {% csrf_token %}
        <div class="mt-4 mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" value="1">
          <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        <button type="submit" class="btn btn-warning w-100">Login</button>
      </form>
    </div>
{% endblock %}
