{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block head%}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src={% static 'js/signup.js' %}></script>
{% endblock %}

{% block content %}
    <div style="max-width: 400px; margin: auto;">
      <h1>Sign Up</h1>
      <form>
        {% csrf_token %}
        <div class="mt-4 mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
          <label for="verification" class="form-label">Verification</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Verification Code" aria-label="Verification Code" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="send-code">Send Code</button>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-warning w-100">Sign Up</button>
      </form>
    </div>
{% endblock %}